html {
  font-size: 10px;
}

.jsDrumKit {
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

.realDrum {
  background: url('./bgdrumlght.jpg') bottom center;
  background-size: cover;
}

.effects {
  background: url('./bgsounds.png') center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0 0 .5rem black;
}

header h1 {
  font-size: 4rem;
  margin: 0;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li {
  margin: 0 1rem;
  font-size: 2rem;
  text-shadow: #FFFFFF 0 0 .5rem;
  border: 1px solid #ffc600;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

header ul li a {
  text-decoration: none;
  color: #ffc600;
  transition: color .2s ease;
}

header ul li:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 1);
}

header ul li a:hover {
  color: #ffffff;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.keys.keys__effect,
.keys.keys__drums {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.keys.keys__effect .effects__row,
.keys.keys__drums .drums__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40%;
}

.keys.keys__drums .drums__row {
  max-width: 35%;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

.keys.keys__effect .key {
  color: #E95D3D;
}

.keys.keys__drums .key {
  color: #91FFF7;
}

.playing {
  transform: scale(1.1);
  border-color: currentColor;
  box-shadow: 0 0 1rem currentColor;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.keys.keys__effect .sound {
  color: #d1cbf9;
}
.keys.keys__drums .sound {
  color: #F900D8;
}